<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<system.net>
		<mailSettings>
			<smtp from="care@bicvlogistics.com">
				<!--<network host="mail.bicvlogistics.com" port="25" userName="it@bicvlogistics.com" password="bicv2010" />-->
				<!--<network host="74.53.152.202" port="1970" userName="it@bicvlogistics.com" password="bicv2010" />-->
				<!---->
				<network defaultCredentials="false" host="mail.bicvlogistics.com" password="bic43210" port="25" userName="care@bicvlogistics.com"/>
				<specifiedPickupDirectory pickupDirectoryLocation="~"/>
			</smtp>
		</mailSettings>
	</system.net>
	<location path="server/TWL1415/EntryForms/Mailauto.aspx">
		<system.net>
			<mailSettings>
				<smtp deliveryMethod="Network" from="care@bicvlogistics.com">
					<network defaultCredentials="false" host="mail.bicvlogistics.com" password="bic43210" port="25" userName="care@bicvlogistics.com"/>
					<specifiedPickupDirectory pickupDirectoryLocation="~"/>
				</smtp>
			</mailSettings>
		</system.net>
	</location>
	<connectionStrings>
		<add name="bic0607TWL" connectionString="Data Source=server;Initial Catalog=BICL1617;User ID=sa;Password=password;" providerName="System.Data.SqlClient"/>
		<add name="bicTWLOleDb" connectionString="Provider=SQLOLEDB;Data Source=server;Persist Security Info=True;Password=password;User ID=sa;Initial Catalog=BICL1617" providerName="System.Data.OleDb"/>
		<add name="bic0607TWLClient" connectionString="Data Source=server;Initial Catalog=BICL1617;Persist Security Info=True;User ID=sa;Password=password; Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=1000" providerName="System.Data.SqlClient"/>
		<add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=BICWEB;User ID=sa;Initial Catalog=BICL1617" providerName="System.Data.OleDb"/>
		<add name="ConnectionString2" connectionString="Provider=SQLOLEDB;Data Source=server;User ID=sa;Initial Catalog=BICL1617" providerName="System.Data.OleDb"/>
		<add name="ConnectionString3" connectionString="Provider=SQLOLEDB;Data Source=server;Password=password;User ID=sa;Initial Catalog=BICL1617" providerName="System.Data.OleDb"/>
		<add name="ConnectionString4" connectionString="Provider=SQLOLEDB;Data Source=server;Password=password;User ID=sa;Initial Catalog=BICL1617" providerName="System.Data.OleDb"/>
		<add name="biclv1314" connectionString="Provider=SQLOLEDB;Data Source=server;Persist Security Info=True;Password=password;User ID=sa;Initial Catalog=BICL1617" providerName="System.Data.OleDb"/>
		<add name="ConnectionString5" connectionString="Provider=SQLOLEDB;Data Source=server;User ID=sa;Initial Catalog=BICLVEN1112" providerName="System.Data.OleDb"/>
		<add name="ConnectionString6" connectionString="Provider=SQLOLEDB;Data Source=server;Persist Security Info=True;Password=password;User ID=sa;Initial Catalog=BICL1617" providerName="System.Data.OleDb"/>
		<add name="ConnectionString7" connectionString="Provider=SQLOLEDB;Data Source=server;Password=password;User ID=sa;Initial Catalog=BICL1617" providerName="System.Data.OleDb"/>
    <add name="ConnTWL1516" connectionString="Data Source=server;Initial Catalog=BICL1516;User ID=sa;Password=password;" providerName="System.Data.SqlClient"/>
    <add name="ConnTWL1415" connectionString="Data Source=server;Initial Catalog=BICLVEN1415;User ID=sa;Password=password;" providerName="System.Data.SqlClient"/>
		<add name="ConnTWL1314" connectionString="Data Source=server;Initial Catalog=BICLVEN1314;User ID=sa;Password=password;" providerName="System.Data.SqlClient"/>
		<add name="ConnTWL1213" connectionString="Data Source=server;Initial Catalog=BICLVEN1213;User ID=sa;Password=password;" providerName="System.Data.SqlClient"/>
		<add name="ConnTWL1112" connectionString="Data Source=server;Initial Catalog=BICLVEN1112;User ID=sa;Password=password;" providerName="System.Data.SqlClient"/>
		<add name="ConnectionStringTWL1415" connectionString="Provider=SQLOLEDB;Data Source=BICWEB;User ID=sa;Initial Catalog=BICLVEN1415" providerName="System.Data.OleDb"/>
    <add name="ConnectionStringTWL1516" connectionString="Provider=SQLOLEDB;Data Source=BICWEB;User ID=sa;Initial Catalog=BICL1516" providerName="System.Data.OleDb"/>
		<add name="bicTWLOleDb1415" connectionString="Provider=SQLOLEDB;Data Source=server;Persist Security Info=True;Password=password;User ID=sa;Initial Catalog=BICLVEN1415" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<system.web>
		<trace enabled="false" mostRecent="true" pageOutput="true" requestLimit="60"/>
		<!--<sessionState timeout="25" />-->
		<sessionState timeout="20"/>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms loginUrl="login.aspx" defaultUrl="default2.aspx" timeout="25" name="UserLogin" path="/">
				<credentials passwordFormat="SHA1">
				</credentials>
			</forms>
		</authentication>
		<authorization>
			<deny users="?"></deny>
		</authorization>
		<pages maxPageStateFieldLength="4096">
			<namespaces>
				<add namespace="System.Collections.Generic"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Configuration"/>
				<add namespace="System.Web.Security"/>
				<add namespace="bic.paradigm"/>
				<add namespace="bic.paradigm.challan"/>
				<!--<add namespace="bic.paradigm.lorry"/>-->
				<add namespace="ServerTimeNS"/>
				<add namespace="myControls"/>
			</namespaces>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.Desktop.Report, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Build.Utilities, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Build.Framework, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				 <add assembly="CrystalDecisions.Data.AdoDotNetInterop, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/> 
				<add assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
			<codeSubDirectories>
				<add directoryName="cs"/>
			</codeSubDirectories>
		</compilation>
		<httpHandlers>
			<remove path="*.asmx" verb="*"/>
			<add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			<add path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler" validate="false"/>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</httpModules>
		<siteMap defaultProvider="FormsSiteMap">
			<providers>
				<add name="FormsSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Forms.sitemap"/>
				<add name="ReportsSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Reports.sitemap"/>
			</providers>
		</siteMap>
		<identity impersonate="false"/>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
				<jsonSerialization maxJsonLength="700000"/>
				<!--
        <converters>

          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>

        </converters>

      </jsonSerialization>

      -->
				<!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
				<!--

        <authenticationService enabled="true" requireSSL = "true|false"/>

      -->
				<!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved

          and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and

          writeAccessProperties attributes. -->
				<!--

      <profileService enabled="true"

                      readAccessProperties="propertyname1,propertyname2"

                      writeAccessProperties="propertyname1,propertyname2" />

      -->
			</webServices>
			<!--

      <scriptResourceHandler enableCompression="true" enableCaching="true" />

      -->
		</scripting>
	</system.web.extensions>
	<location allowOverride="true">
		<appSettings>
   <add key="CrystalImageCleaner-AutoStart" value="true" />
   <add key="CrystalImageCleaner-Sleep" value="60000" />
   <add key="CrystalImageCleaner-Age" value="120000" />
   <add key="aspnet:MaxHttpCollectionKeys" value="2001" />
   <add key="aspnet:MaxJsonDeserializerMembers" value="2001" />
   <add key="ChartHttpHandler" value="Storage=memory;Timeout=10;Url=~/temp/;" />
   <add key="Connect" value="Data Source=server;Initial Catalog=BICL1617;User ID=sa;Password=password" />
   <add key="ConnectionString" value="Data Source=server;Initial Catalog=BICL1617;User ID=sa;Password=password" />
   <add key="ConnectionStringTWL1415" value="Data Source=server;Initial Catalog=BICLVEN1415;User ID=sa;Password=password" />
   <add key="ConnectionStringTWL1516" value="Data Source=server;Initial Catalog=BICL1516;User ID=sa;Password=password" />
   <add key="GPRS.Default" value="http://www.membocool.com/Default.asmx" />
  </appSettings>
	</location>
	<system.webServer>
		<handlers>
			<!--<add name="ChartAxd.axd_*" path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler" preCondition="integratedMode,runtimeVersionv2.0" />-->
			<!--<add name="CrystalImageHandler.aspx_GET" path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode,runtimeVersionv2.0"/>-->
			<add name="CrystalImageHandler.aspx_GET" path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode,runtimeVersionv2.0"/>
			<add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0"/>
			<add name="*_AppService.axd_*" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0"/>
			<add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0"/>
		</handlers>
		<directoryBrowse enabled="true"/>
		<defaultDocument>
			<files>
				<clear/>
				<add value="personalinfo.aspx"/>
				<add value="login23.aspx"/>
				<add value="default.aspx"/>
				<add value="Default.htm"/>
				<add value="Default.asp"/>
				<add value="index.htm"/>
				<add value="index.html"/>
				<add value="iisstart.htm"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
